# Django
DEBUG=
SECRET_KEY=
CSRF_TRUSTED_ORIGINS=

# PostgreSQL
DB_NAME=
DB_USER=
DB_HOST=
DB_PASS=
DB_PORT=
DB_LOCAL_PORT=

# Redis
REDIS_HOST=
REDIS_PASS=
REDIS_PORT=
REDIS_LOCAL_PORT=
REDIS_CACHE_DB=

# Celery
CELERY_BROKER_DB=